<!DOCTYPE html>
<html>
<head>
	 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="log.css">
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
</head>

<style>
	
	.box{
  opacity:0.9;
  background-color:#641030;
  width: 1000px;
  border: 30px solid #f40652 ;
  padding: 150px;
  margin: 150px;
}
</style>


<body1>

<header class="home-header">
	<div class="div-logo">
		<svg xmlns="http://www.w3.org/2000/svg" class="equilizer" viewBox="0 0 128 128">
  <g>
    <title>Audio Equilizer</title>
    <rect class="bar" transform="translate(0,0)" y="15"></rect>
    <rect class="bar" transform="translate(25,0)" y="15"></rect>
    <rect class="bar" transform="translate(50,0)" y="15"></rect>
    <rect class="bar" transform="translate(75,0)" y="15"></rect>
    <rect class="bar" transform="translate(100,0)" y="15"></rect>
  </g>
</svg>
		<span class="logo-text">Tune in musicana..!</span>
	</div>
		<nav class="home-nav">
			<a href="/">Home</a>
			<a href="/local_signup">Sign in</a>
			<a href="/contact_us">Contact us</a>
			<a href="/about">About us</a>
			</nav>
			</header>
</body1>
<body>
	
<div class="info">

 <div class="box">
<p style="color: white;">
	<strong>Please write something over here......!!!!!</strong>
</p>

</div>
</div> 	
</body>			

</html>
