<!DOCTYPE html>
<html>
<head>
	<title>Streaming Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css ">
	<link rel="stylesheet"  href="htpps://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css"/>
	<link rel="stylesheet" type="text/css" href="demo.css">


</head>
<body>


<div class="header">
  <a href="#default" class="logo"> <i class="fas fa-music fa-2x mx-3"></i> Musicana.. &sung; &sung;</a>
  <div class="header-right">
    <a class="active" href="/logout">Logout</a>
  
    <a href="/profile/playlist">PlayList</a>
    <a href="/profile/add_songs">Add Songs</a>
  </div>
</div>











     <div class="main">
     	<div class="container">

     		<div class="row">
     			<div class="col-md-12">
     				
                   <h3>New Releasess</h3>

     			</div>

     			<div class="col-md-3">
     				<a href="/profile/T50" class="album-pics" >
     					<img src="https://learnenglish.britishcouncil.org/sites/podcasts/files/styles/article/public/RS7351_ThinkstockPhotos-492813404-hig.jpg?itok=cNrOuKt4" alt="">
     				</a>

     				<h4>Top 10</h4>
     				
     			</div>

     			<div class="col-md-3">
     				<a href="javascript:void();" class="album-pics" >
     					<img src="https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80" alt="">
     				</a>

     				<h4>Top Charts</h4>
     				
     			</div>

     			<div class="col-md-3">
     				<a href="javascript:void();" class="album-pics" >
     					<img src="https://pamis.org.uk/site/uploads/musical-notes.jpg" alt="">
     				</a>

     				<h4>Best of 2020</h4>
     				
     			</div>

     			<div class="col-md-3">
     				<a href="javascript:void();" class="album-pics" >
     					<img src="https://denelecampbell.files.wordpress.com/2018/02/o-music-heart-facebook.jpg" alt="">
     				</a>

     				<h4>Mix Tunes</h4>
     				
     			</div>

     			
     			

     		</div>
     	


     <div class="row">
     	<div class="col-md-12">
     		<h3>Coming Soon</h3>
     	</div>
     	<div class="col-md-2">
     		<a href="#" class="album-pics">
     		<img src="https://i.pinimg.com/736x/ea/1f/64/ea1f64668a0af149a3277db9e9e54824.jpg" alt="">
     		</a>
     		<h4> music </h4>
     	</div>
     	<div class="col-md-2">
     		<a href="#" class="album-pics">
     		<img src="https://i.pinimg.com/originals/e5/73/00/e573004debbdc7ffbacf95e3c4dec244.jpg" alt="">
     		</a>
     		<h4>music</h4>
     	</div>
     	<div class="col-md-2">
     		<a href="#" class="album-pics">
     		<img src="https://cdn11.bigcommerce.com/s-x49po/images/stencil/1280x1280/products/8366/17694/52ABT265__09092.1506574180.jpg?c=2" alt="">
     		</a>
     		<h4>music</h4>
     	</div>
     	<div class="col-md-2">
     		<a href="#" class="album-pics">
     		<img src="https://e7.pngegg.com/pngimages/560/429/png-clipart-black-and-grey-headphones-r-art-headphones-music-music-headphones-the-trend-pattern-electronics-gadget.png" alt="">
     		</a>
     		<h4>music</h4>
     	</div>
     	<div class="col-md-2">
     		<a href="#" class="album-pics">
     		<img src="https://upload.wikimedia.org/wikipedia/en/7/7f/Radio_Music_Society_%28Esperanza_Spalding_album%29_cover.jpg" alt="">
     		</a>
     		<h4>music</h4>
     	</div>
     	<div class="col-md-2">
     		<a href="#" class="album-pics">
     		<img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/dj-album-cover-video-design-template-6e87b711bbba7ee57366bc11c6756948_screen.jpg?ts=1567082166" alt="">
     		</a>
     		<h4>music</h4>
     	</div>
     	
     </div>


<div class="row">
     			<div class="col-md-12">
     				
                   <h3> Artist </h3>

     			</div>

     			<div class="col-md-3">
     				<a href="/profile/A1" class="album-pics">
     					<img src="https://static.billboard.com/files/media/robbie-williams-dec-2019-billboard-1548-compressed.jpg" alt="" >
     				</a>

     				<h4>Robbie Williams</h4>
     				
     			</div>

     			<div class="col-md-3">
     				<a href="/profile/A2" class="album-pics">
     					<img src="https://diy-magazine.s3.amazonaws.com/d/diy/Artists/F/Foals/Forest_warm.jpg" alt="">
     				</a>

     				<h4>Foals</h4>
     				
     			</div>

     			<div class="col-md-3">
     				<a href="/profile/A3" class="album-pics">
     					<img src="https://www.richardgalliano.com/wp-content/uploads/2015/10/Galliano1c_Vincent_Catala.jpg" alt="">
     				</a>

     				<h4>Richard Galliano</h4>
     				
     			</div>

     			<div class="col-md-3">
     				<a href="/profile/A4" class="album-pics">
     					<img src="https://www.joshuaredman.com/sites/g/files/g2000002901/f/styles/detailpagesimage/public/201304/joshua-redman-blue-tee-2008-michael-wilson-450sq.jpg?itok=B4eo8LEx" alt="">
     				</a>

     				<h4>Joshua Redman</h4>
     				
     			</div>

     			<div class="col-md-3">
     				<a href="/profile/A5" class="album-pics">
						<img src="https://images.sk-static.com/images/media/profile_images/artists/584257/huge_avatar" alt="">
					</a>

     				<h4>Bryn Christopher</h4>
     				
     			</div>

     			<div class="col-md-3">
     				<a href="/profile/A6" class="album-pics">
     					<img src="https://www.electronicbeats.net/app/uploads/2011/12/Lamb-Electronic-Beats.jpg" alt="">
     				</a>

     				<h4>Lou Rhodes</h4>
     			
     			</div>

     			<div class="col-md-3">
     				<a href="/profile/A7" class="album-pics">
     					<img src="http://magnetmagazine.com/wp-content/uploads/2011/04/RobertPollard.jpg" alt="">
     				</a>

     				<h4>Robert Pollard</h4>
     				
     			</div>

     			<div class="col-md-3">
     				<a href="/profile/A8" class="album-pics">
     					<img src="https://www.hysteriamag.com/ahm/uploads/2017/01/Frenzal_Rhomb_hysteria_Mag_fb-980x600.jpg" alt="">
     				</a>

     				<h4>Frenzal Rhomb</h4>
     				
     			</div>	

     		</div>








        </div>
     </div>





<script src="htpps://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="htpps://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</body>
</html>