<!DOCTYPE html>
<html>
<head>
	<title>Streaming Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css ">
	<link rel="stylesheet"  href="htpps://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css"/>
	<link rel="stylesheet" type="text/css" href="demo.css">


</head>
<body>


<div class="header">
  <a href="#default" class="logo"> <i class="fas fa-music fa-2x mx-3"></i> Musicana.. &sung; &sung;</a>
  <div class="header-right">
    <a class="active" href="/logout">Logout</a>
    <a href="/">Home</a>
    <a href="/profile/playlist">PlayList</a>
    <a href="/profile/add_songs">Add Songs</a>
  </div>
</div>











     <div class="main">
     	<div class="container">
  
<h1>


<% songs.forEach(function(elements) { %>
  <%= elements %><br></br>
<% }) %> 



</h1>

</div>
</div>

</body>
</html>