<!DOCTYPE html>
<html>
<head>
	<title>Top 10</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css ">
	<link rel="stylesheet"  href="htpps://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css"/>
	<link rel="stylesheet" type="text/css" href="demo.css">


</head>

<style>
  .box{
  opacity:0.9;
  background-color:#68bdc6;
  width: 1000px;
  border: 30px solid #f40652 ;
  padding: 150px;
  margin: 150px;
}
</style>

<body>


<div class="header">
  <a href="#default" class="logo"> <i class="fas fa-music fa-2x mx-3"></i> Musicana.. &sung; &sung;</a>
  <div class="header-right">
    <a class="active" href="/logout">Logout</a>
    <a href="/profile/dashboard">Home</a>
    <a href="/profile/playlist">PlayList</a>
    <a href="/profile/A1">Add Songs</a>
  </div>
</div>











     <div class="main">
     	<div class="container">
  
   <div class="box">
<h1>


TOP 10 list....

<ol>
<li><audio src="song1.mp3" controls></audio></li>

<li><audio src="song2.mp3" controls></audio></li>

<li><audio src="song3.mp3" controls></audio></li>

<li><audio src="song4.mp3" controls></audio></li>

<li><audio src="song5.mp3" controls></audio></li>

<li><audio src="song6.mp3" controls></audio></li>

<li><audio src="song1.mp3" controls></audio></li>

<li><audio src="song3.mp3" controls></audio></li>

<li><audio src="song2.mp3" controls></audio></li>

<li><audio src="song5.mp3" controls></audio></li>

</ol>
</h1>
</div>

</div>
</div>

</body>
</html>